@using OVERTIME.MANAGER.MAIN.ViewModels;
@model NavigatorActive

<nav class="navbar-overtime navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="/assets/images/logo/logo-circle.png" alt="Logo OvertimeManager" width="32" height="32" class="d-inline-block align-text-top" />
            OM
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link @(Model.navigatorActive == "Index" ? "active" : "")" aria-current="page" asp-controller="OvertimeManager" asp-action="Index">Overtime Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.navigatorActive == "WorkingShiftManager" ? "active" : "")" aria-current="page" asp-controller="OvertimeManager" asp-action="WorkingShiftManager">WorkingShift Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(Model.navigatorActive == "OvertimeWorkingShiftManager" ? "active" : "")" aria-current="page" asp-controller="OvertimeManager" asp-action="OvertimeWorkingShiftManager">Overtime WorkingShift Manager</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle @(Model.navigatorActive == "JobPositionManager" || Model.navigatorActive == "OrganizationManager" || Model.navigatorActive == "EmployeeManager" ? "active" : "")" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Settings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item @(Model.navigatorActive == "JobPositionManager" ? "active" : "")" asp-controller="OvertimeManager" asp-action="JobPositionManager">JobPosition Manager</a></li>
                        <li><a class="dropdown-item @(Model.navigatorActive == "OrganizationManager" ? "active" : "")" asp-controller="OvertimeManager" asp-action="OrganizationManager">Organization Manager</a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-right d-flex align-items-center">
                <div class="icon-notification"></div>
                <div class="icon-support"></div>
                <div class="icon-more"></div>
                <div class="avatar avatar-wrapper">
                    <img src="/assets/images/logo/logo-circle.png" alt="avatar" width="32" height="32" />
                    <div class="avatar-details">
                        <div class="details-above">
                            <img src="/assets/images/logo/logo-circle.png" alt="avatar" width="32" height="32" />
                            <p class="details-name">Ngọc Hiệp</p>
                            <p class="details-email">nnhiep582k2@gmail.com</p>
                        </div>
                        <div class="details-center">
                            <ul class="details-list">
                                <li class="details-item"><a asp-action="ChangePassword" asp-controller="Access">Change password</a></li>
                                <li class="details-item"><a asp-action="ChangeInformation" asp-controller="Access">Account settings</a></li>
                                <li class="details-item"><span>Secure settings</span></li>
                                <li class="details-item"><span>Language</span></li>
                            </ul>
                        </div>
                        <a class="details-bottom" asp-action="Logout" asp-controller="Access">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>