@using Microsoft.AspNetCore.Html;
@using OVERTIME.MANAGER.MAIN.Utils.Enums;
@using OVERTIME.MANAGER.MAIN.ViewModels;
@model Overtime;

@{
    ViewData["Title"] = "Overtime Detail";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
    var navigatorActive = new NavigatorActive { navigatorActive = "Index" };
}

@section header
    {
    <partial name="~/Views/OvertimeManager/_HeaderOM.cshtml" model="navigatorActive" />
}

@section link {
    <link rel="stylesheet" href="../assets/components/overtime_detail/css/style.css" />
}

@{
    // Hàm định dạng ngày
    IHtmlContent formatDate(DateTime? item)
    {
#nullable disable
        string resultDate = item?.Day.ToString().Length > 1 ? item?.Day.ToString() : "0" + item?.Day.ToString();
        string resultMonth = item?.Month.ToString().Length > 1 ? item?.Month.ToString() : "0" + item?.Month.ToString();
        string resultYear = item?.Year.ToString();
        string resultHour = item?.Hour.ToString().Length > 1 ? item?.Hour.ToString() : "0" + item?.Hour.ToString();
        string resultMinute = item?.Minute.ToString().Length > 1 ? item?.Minute.ToString() : "0" + item?.Minute.ToString();
        string result = resultDate + "/" + resultMonth + "/" + resultYear + " " + resultHour + ":" + resultMinute;
        return Html.Raw($@"<span>{result}</span>");
    }
    // Hàm định dạng trạng thái
    IHtmlContent formatStatus(int status)
    {
        if (status == (int)OvertimeStatus.pending)
        {
            return Html.Raw("<span class=\"details-status pending\">Pending</span>");
        }
        else if (status == (int)OvertimeStatus.approved)
        {
            return Html.Raw("<span class=\"details-status approved\">Approved</span>");
        }
        else if (status == (int)OvertimeStatus.refused)
        {
            return Html.Raw("<span class=\"details-status refused\">Refused</span>");
        }
        return Html.Raw("<span>--</span>");
    }
}

<main class="container-fluid overtime-main">
    <div class="overtime-wrapper py-3">
        <!-- Heading -->
        <div class="overtime-heading d-flex align-items-center justify-content-between pb-3">
            <div class="heading-left">
                <a asp-action="Index" asp-controller="OvertimeManager"><i class="fa-solid fa-arrow-left"></i></a>
                <div class="fs-5 fw-bold heading-title"> Overtime Detail</div>
            </div>
            <div class="btn-group-wrapper">
                <a type="button" class="btn btn-primary btn-add" asp-controller="OvertimeManager" asp-action="OvertimeUpdate" asp-route-overtimeId="@Model.OverTimeId">
                    <span><i class="fa-solid fa-pencil"></i><span class="btn-text">Edit</span></span>
                </a>
            </div>
        </div>

        <!-- Content -->
        <div class="overtime-container-detail">
            <div class="overtime-content-detail flex-row justify-content-between">
                <div class="overtime-content-left">
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.EmployeeName">Employee Name<span class="required">*</span></label>
                        <p>@Model.EmployeeName</p>
                    </div>
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.OrganizationName">Organization Name</label>
                        <p>@Model.OrganizationName</p>
                    </div>
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.ApplyDate">Apply Date<span class="required">*</span></label>
                        <p>@formatDate(Model.ApplyDate)</p>
                    </div>
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.FromDate">From Date<span class="required">*</span></label>
                        <p>@formatDate(Model.FromDate)</p>
                    </div>
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.BreakTimeFrom">Breaktime From</label>
                        <p>@formatDate(Model.BreakTimeFrom)</p>
                    </div>
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.BreakTimeTo">Breaktime To</label>
                        <p>@formatDate(Model.BreakTimeTo)</p>
                    </div>
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.ToDate">To Date<span class="required">*</span></label>
                        <p>@formatDate(Model.ToDate)</p>
                    </div>
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.WorkingShiftName">Workingshift<span class="required">*</span></label>
                        <p>@Model.WorkingShiftName</p>
                    </div>
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.OverTimeInWorkingShiftName">Overtime Workingshift<span class="required">*</span></label>
                        <p>@Model.OverTimeInWorkingShiftName</p>
                    </div>
                </div>
                <div class="overtime-content-right">
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.Reason">Reason<span class="required">*</span></label>
                        <p>@Model.Reason</p>
                    </div>
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.ApprovalName">Approval Name<span class="required">*</span></label>
                        <p>@Model.ApprovalName</p>
                    </div>
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.StatusOvertime">Status<span class="required">*</span></label>
                        <p>@formatStatus(Model.StatusOvertime)</p>
                    </div>
                    <div class="overtime-field unselect">
                        <label asp-for="@Model.Dsc">Description</label>
                        <p>@Model.Dsc</p>
                    </div>
                </div>
            </div>
            <div class="overtime-content-below">
            </div>
        </div>
    </div>
</main>