<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Thông tin website -->
    <title>@ViewData["Title"] | OVERTIME MANAGER</title>
    <!-- Logo -->
    <link rel="icon" href="@Url.Content("~/assets/images/logo/logo-circle.png")" />

    <!-- SEO - tối ưu tìm kiếm -->
    <meta content="Website to manage overtime applications" name="description">
    <meta content="Overtime, OvertimeManager, Overtime Manager, OM" name="keywords">
    <meta content="nnhiep" name="author">

    <!-- Google Fonts - font chữ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/ef6eeeb025.js" crossorigin="anonymous"></script>

    <!-- Library - thư viện -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Vendor CSS Files - CSS của template -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template CSS File - File chứa css của template -->
    <link href="~/assets/css/template.css" rel="stylesheet">
    <!-- File chứa css hay dùng của chương trình -->
    <link href="~/assets/css/main.css" rel="stylesheet">
    <!-- Main CSS File - File chứa css của chính của chương trình -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    @RenderSection("link", required: false)
</head>

<body>
    <!-- Phần Header -->
    <partial name="~/Views/Shared/_Header.cshtml" />

    <!-- Phần Main -->
    @RenderBody()

    <!-- Phần Footer -->
    <partial name="~/Views/Shared/_Footer.cshtml" />

    <!-- Chức năng cuộn lên đầu trang -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Embedded - Phần nhúng thư viện -->
    @*<script src="~/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/assets/lib/jquery/dist/jquery.min.js"></script>

    <!-- Vendor JS Files - Phần nhúng file js của template -->
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template JS File - Phần chứa file js của template -->
    <script src="~/assets/js/template.js"></script>
    <!-- Phần chứa js chính của chương trình -->
    <script src="~/assets/js/script.js"></script>
    @RenderSection("script", required: false)
</body>

</html>
